*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
.border{
    border: solid 1px white;
    text-align: center;
    margin-top: 10px;  }

span{
    background-color: white;
    margin: 5px;
    padding: 10px;
}
span:hover{
    background-color: white;
    border-left: solid 10px white;
}
/*grid por areas*/
#grilla-areas{
    display: grid;
    grid-template-areas:
    "menu cabeza cabeza "
    /*fila2*/
    " menu productos brazo "
    /*fila3*/
    "menu servicios brazo "
    "menu pie pie"
    ;
    grid-template-columns: 15% auto 20%;
    grid-template-rows: 2fr 3fr 2fr 1fr ;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}
article{
    background-color: white;
    border-radius: 4px;
}
/*nombre de las areas*/
header{
    grid-area: cabeza;
    
}
footer{
    grid-area: pie;
     }
#productos{
    grid-area: productos;
    img{
        width: 700px;
        height: auto;
    }
}
#servicios{
    grid-area: servicios;
}
nav{
    grid-area: menu;
    
}
aside{
    grid-area: brazo;
   

}
.menuFlex{
    display: flex;
    flex-flow: column nowrap;
}

.texto-animado{
    animation-name: texto;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
  
@keyframes texto {
    from {
        transform: translateX(1300px);
    }
    to {
        transform: translate(0);
    }
}
.flexservicios{
    display: flex;
    flex-flow: row nowrap;
    img{
        width: 170px;
        height: auto;
    }
    
}
//new in//
.flexproductosn{
    display: flex;
    flex-flow: row nowrap;
    img{
        width: 250px;
        height: auto;
    }
}
.flexserviciosn{
    display: flex;
    flex-flow: row nowrap;
    img{
        width: 250px;
        height: auto;
    }
}
#grilla-areas1{
    display: grid;
    grid-template-areas:
    "menu cabeza cabeza "
    /*fila2*/
    " menu productos brazo "
    /*fila3*/
    "menu servicios brazo "
    "menu pie pie"
    ;
    grid-template-columns: 15% auto 20%;
    grid-template-rows: 2fr 3fr 2fr 1fr ;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
}

@import "boostrap/bootstrap.scss";

 
//smart//
 @media (max-width: 480px){
    #grilla-areas{
        display: grid;
        grid-template-areas:
        "menu"
        "cabeza "
        "productos "
        "brazo"
        "servicios"
        "pie"
        ;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 2fr 3fr 1fr 2fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
    }
    .menuFlex{
        display: flex;
        flex-flow: column nowrap;
    }

 }
 

//tablet//
@media(min-width: 481px) and (max-width: 1023px){
    #grilla-areas{
        display: grid;
        grid-template-areas:
        "cabeza cabeza"
        "menu menu "
        "productos productos "
        "servicios brazo"
        "pie pie"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 2fr 1fr 3fr 2fr 1fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }
    .menuFlex{
        display: flex;
        flex-flow: row nowrap;
    }
    .flexproductosn{
        display: flex;
        flex-flow: column nowrap;
        img{
            width: 250px;
            height: auto;
        }
    }
    .flexserviciosn{
        display: flex;
        flex-flow: column nowrap;
        img{
            width: 250px;
            height: auto;
        }
     }
}  

//responsive desktop//
 
@media (min-width: 1024px) {
}